 /*REset */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #000;
}

 
p{
  display: flex;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color:  rgb(6, 96, 138);
  max-width: 1400px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(195, 240, 240);
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: rgb(6, 96, 138);
}

.topnav a {
  float: left;
  color: #f8f8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

/*passa o mause em cima e da efeito */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.grid1{
    display:grid;
    /*Divide o grid em parte, no caso 3 partes de 1fr que seria 33% da pagina */
    grid-template-columns: repeat(1,1fr);
}

.IMG-principal{
  width: 600pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*Aredonda borda */
  border-radius: 20px;
}

.IMG-secundaria{
  /*Largura da Imagem  */
  width: 500pt;
  /* */
  display: block;
  /*passa o mause em cima e da efeito */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.IMG-tec{
  /*Largura da Imagem  */
  width: 800pt;
  /* */
  display: block;
  /*passa o mause em cima e da efeito */
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px; 
}


/*Alteração de propriedades da classe box1,box2 e box3.
-->  setando a propriedade display: flex em todos os boxs.
---> flex direction : orientação do box(classe) --> column ou row.
---> flex-wrap: nowrap | wrap | wrap-reverse  --> quebra de itens na linha 
---> flex-flow: row nowrap | row wrap | column nowrap | column wrap; --> inclui vários valores relacionados a mais de uma propriedade
---> justify-content: 3 | flex-end | center | space-between | space-around | space-evenly; --> define o alinhamento dos itens dentro do eixo principal 
-->  align-items: stretch | flex-start | flex-end | center | baseline; --> alinhamento dos itens das colunas.
*/

.box1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(194, 204, 233);
}
.box2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 211, 126);
}

.box3{
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(196, 233, 148);
}

.um{
  flex: 3;
  padding: 20px; 
} 

.dois{
  flex: 3;
  padding: 20px; 
}

.tres{
  flex: 3;
  padding: 20px; 
}

#imgprimeirospassos{
  height: 190px;
  width: 250px;
}

#saibamais{
    align-self: flex-end;
}

:dir(footersaibamais){
    background-color:rgb(65, 204, 209)
}

:dir(saibamais){
  background-color: rgb(0, 255, 200);
}

main{
  text-align: center;
}

footer{
  text-align: center;
}

#imgprimeirospassos1, #imgprimeirospassos2, #imgprimeirospassos3, #imgprimeirospassos4, #imgprimeirospassos5, #imgprimeirospassos6{
  display: block;
  /*passa o mause em cima e da efeito */
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px; 
}

/* Contact */
.area_form_contact{
  width: 100%;
  height: 100%;
  background-color: rgb(83, 194, 245);
  padding: 1px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(83, 194, 245); 
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

.title_contact{
  font-size: 30px;
  text-align: center;
  color: rgb(0, 146, 179);
  font-weight: bold;
  margin-top: 10px;
  grid-column: 1;
  grid-row: 1;
}

.img_contact{
  width: 50px;
  height: 50px;
  grid-column: 1;
  grid-row: 1;
}

.form_contact{
  width: 550px;
  height: 490px;
  grid-column: 2;
  grid-row: 1;
  padding: 55px;
  padding-top: 30px;
}

.form_contact input, textarea{
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: none;
  /* padding: 10px; */
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}