/* FONTES DO PROJETO */
/* Rampart One */
/* Special Elite */
/* Reenie Beanie */
/* Rye */
/* Pinyon Script */
/* IM Fell English SC */
/* Cinzel Decorative */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=IM+Fell+English+SC&family=Pinyon+Script&family=Rampart+One&family=Reenie+Beanie&family=Rye&family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #61e65cd8, #ff2525da);
    background-attachment: fixed;
}

.relogio-principal{
    display: flex;
    justify-content: center;    
    align-items: center;
}



.sao-paulo  {  
    margin-top: 20px;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-areas: 
    'titulo calendario'
    'titulo relogio';
    
    
}


#titulo-brasil {
    grid-area:titulo;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 38px;
    padding: 2px;
}


#calendario{
    grid-area:calendario;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
    
}
#calendario div{
    background: rgba(5, 5, 5, 0.9);
    border-radius: 7px;
    letter-spacing: 3px;
}

#relogio{
    grid-area:relogio;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#relogio div{
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    border-radius: 7px;
    letter-spacing: 3px;
}

span {
    font-weight: bolder;
    font-size: 60px;
}



/* Relogios mudiais */

.relogio-mundi{
   display: grid;
   justify-content: space-around;
   grid-template-areas: 
   'grupo-1 grupo-2';
   
    
    
}

#grupo-1{
grid-area: grupo-1;
}

#grupo-2{
grid-area: grupo-2;     
}



.pais {  
    margin-top: 20px;
    height: 150px;
    width: 450px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-areas: 
    'titulo calendario'
    'titulo relogio';
    
    
}


#titulo{
    grid-area:titulo;
    font-size: 25pt;
    display: flex;
    align-items: center; 
}

#calendario-pais{
    grid-area:calendario;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
    
}
#calendario-pais div{
    background: rgba(5, 5, 5, 0.9);
    border-radius: 7px;
    letter-spacing: 3px;
}

#relogio-pais{
    grid-area:relogio;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#relogio-pais div{
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    border-radius: 7px;
    letter-spacing: 3px;
}

span {
    font-weight: bolder;
    font-size: 60px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}