*{
    padding: 0;
    margin: 0;
}

body{
   
}
main{
    background-color:rgba(128, 128, 128, 0.301);
    text-align: justify;
    padding: 20px;
    margin: auto;
    margin-top: 200px;
    max-width: 600px;
    height: 350px;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);

}

h1{
    margin-top: 30px;
    font-size: 2.5em;
    text-align: center;
}
input{
    font-size: 1.5em;
    margin: 5px;
    padding: 2px;
    

}

footer{
    text-align: center;
    font-size: 1.5em;
}
#botao{

    height: 40px;
    width: 120px;
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
}
#botao:hover{
    background-color: rgb(142, 242, 111);
}



#botaolimpar{

    height: 40px;
    width: 120px;
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
    border-radius: 5px;
}
#botaolimpar:hover{
    background-color: rgb(242, 118, 111);
}