@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Prociono&family=Proza+Libre:ital,wght@0,400;0,800;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f4f2ec url(../img/fundo.png) ;
    background-repeat: repeat-x;
}

/*cabeçalho/Menu*/

header{
    width: 1080px;
    margin: 0 auto;
}

.menu{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo a{
    
    width: 300px;
    height: 130px;
    text-indent: -9999px;
    display: block;
    background: url(../img/LOGO.png) no-repeat;
   
   
}

nav{
    
    margin-right: 40px;
}
nav ul{
    list-style: none;
    height: 20px;

   
}

nav ul li{
    display: inline;
}

li a{

    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
}

li a{
    color: #b8a98d;
}

li a:hover{
    color: #fff;
    border-top: solid #b8a98d 2px;
}


/*Container*/

.conteudo-1{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/fundo2.jpg);

}

.capa{
    border: solid 2px red;
    display: flex;
    justify-content: end ;

}

#jack{
    margin-left:40px ;
}
























@media screen and( max-width:1005px) {
    .menu{
        display: none;
    }
    .navbar{
        position: relative;
    }
}

